#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_configure:
	cd src && ./configureUbuntu

override_dh_auto_build:
	cd src && make PGPLOT_DIR=/usr/lib

